@charset "UTF-8";

#yardimContainer {
    position: relative;
    height: auto;
}

#yardimSutun {
    display: flex;
}

.topAlanDivYardim {
    display: flex;
    width: 300px !important;
    height: 80px !important;
    position: relative;
    margin-right: 10px !important;
}

.topYardim {
    position: relative !important;
    background-color: rgb(242, 121, 11) !important;
    border-radius: 50% !important;
    height: 60px !important;
    width: 65px !important;
    top: 10%;
}

#yardimSutun .yaziYardim span:not(.topAlanDivYardim:nth-child(1) .yaziYardim a span) {
    width: 100px;
    display: block;
    margin-top: 25px !important;
    margin-left: 5px !important;
    color: rgb(0, 0, 0);
}

.yaziYardim {
    position: relative;
    width: 70% !important;
    height: 100%;
    font-weight: bold;
}

/*#yardimSutun .yaziYardim a span:not(.topAlanDivYardim:nth-child(1) .yaziYardim a span){

    width: 116px;
    display: block;
    margin-top:15px;
    margin-left: 15px;
    font-size: 15px; 
    color:rgb(0, 0, 0);
  
}*/

.musteri {
    width: 116px;
    display: block;
    margin-top: 10px;
    margin-left: 15px;
    font-weight: 600;
    font-size: 13px;
    color: rgb(170, 170, 170);
}

.topAlanDivYardim:nth-child(1) .yaziYardim .no {
    margin-left: 15px;
    color: rgb(0, 0, 0);
    font-size: 16px;
}

.no:not(.topAlanDivYardim:nth-child(1) .yaziYardim .no) {
    font-size: 13px;
    margin-left: 5px !important;
    color: rgb(0, 0, 0);
}

.yaziYardim a {
    text-decoration: none;
    color: rgb(33, 37, 41);
}

.kategoriIkonYardim {
    position: absolute !important;
    left: 31% !important;
    top: 27% !important;
    font-size: 160% !important;
    color: white !important;
}


.topYardim:hover {
    cursor: pointer;
    background: linear-gradient(45deg, rgb(110, 49, 13), rgb(242, 121, 11), rgb(110, 49, 13));
}



