@charset "UTF-8";

#odemeAlanContainer {
    position: relative;
    height: auto;
}

#odemeBaslik {
    color: #333333;
    font-weight: 600;
}

.odemeAlan {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
    position: relative;
}

.odemeFoto {
    width: 60px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.odemeYazi {
    font-weight: 600;
    color: #333333;
    width: auto;
    text-align: center;
    position: absolute;
    top: 40px;
}

.odemeBorder {
    padding: 0px;
    border-right: 1px solid rgb(214, 214, 214);
    margin: 0 20px;
    height: 45px;
}

#odemeAlanSutun {
    display: flex;
}

.odemeBorder:nth-child(18) {
    border-right: unset !important;
}
