@charset "UTF-8";

/* Müşteri memnuniyeti navbar alt kısmı*/
#badges1 > span {
    cursor: pointer;
    color: rgb(35, 131, 193);
}

#badges1 span:hover {
    color: rgb(22, 84, 126);
}

.siteReklam span:not(svg){
    margin-left:5px;
}